<a href="https://colab.research.google.com/github/AARSHGHEWDE/AI/blob/master/CW/CW_J067_11_7_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# list (mutable)
a=[1,2,3,4,5,'human']
# tuple  (immutable)
a=(1,2,3,4,5,'human')
# set (mutable)
a={1,2,3,4,5,'human'}
# dictionary 
a={'list':[1,2,3,4,5,'human'], 'tuple':(1,2,3,4,5,'human'),'set':{1,2,3,4,5,'human'}}

In [2]:
b_set={1,2,3,4,4,'human'}
b_set
#does not store repeated elements 
#b_set={[1,2,3,4],[1,2,3,4]}  GIVES ERROR
#does not allow two lists
#b_set={(1,2,3,4,5,'human'),[1,2,3,4,5,'human']}  GIVES ERROR
#does not allow list and tuple together 
#b_set[2] error:  'set' object does not support indexing

{1, 2, 3, 4, 'human'}

In [3]:
7 in b_set 
#gives boolean output, works like an if-else statement 
#works for set, tuple, list

False

In [9]:
int('11',2) #Conversion of base 2(binary) to base 10(decimal)

3

In [11]:
int('A',11)

10

In [10]:
int('111',2)  #typecasting    the number within '' is number, base

7

In [5]:
a=3
#a==3
a==4

False

In [6]:
def add(x,y):
  sum=x+y
  return sum
def sub(x,y):
  res=x-y
  return res
add(7,8)
sub(9,1)

8

In [ ]:
class Student:
    a =6
    def __init__(self,name):
        self.__name = name 
    def displayName(self): 
        print(self.__name)
s1 = Student("Santosh") 
s1.displayName()  
print(s1.name) 
#gives error

In [8]:
class student:
  def __init__(self, name):
    self.name = name
  def displayName(self):
    print(self.name)
s1 = student('Santosh')
s1.displayName()
print(s1.name)

Santosh
Santosh